---
---
//
// Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
// wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html
//
.provisional.wb-steps-cra {
	counter-reset: fieldset_counter;

	.wb-tggle-fildst {

		> legend {
			&:before {
				background-color: #fff;
				border: 3px solid #6f6f6f;
				-webkit-border-radius: 50%;
				-moz-border-radius: 50%;
				border-radius: 50%;
				box-sizing: content-box;
				content: counter(fieldset_counter);
				counter-increment: fieldset_counter;
				display: inline-block;
				height: 1.2em;
				line-height: 1.2;
				margin-left: 5px;
				margin-right: 15px;
				padding: 4px;
				text-align: center;
				width: 1.2em;
				}

			&.wb-steps-active {
				color: #1c578a;
				
				}
			&.wb-steps-active:before {
				background-color: #1c578a;
				border-color: #1c578a;
				color: #fff;
				margin-left: 0px;
				margin-right: 10px;
				}
			&.wb-steps-error {
				color: #942826;
				}
			&:not(.wb-steps-active) {
			font-size: 1em;
			margin-bottom: 10px;
				}
			}
	}

	.steps-wrapper {
		border-bottom: 1px solid #c0c0c0;
	}

	.subfields {
		border: 0;
	}
}
